version: '3.8'

services:
  app:
    build: . # Uses Dockerfile in the same directory
    container_name: nowo_nodejs_assessment
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:8
    container_name: nowo_nodejs_assessment_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: <your_mysql_root_password>
      MYSQL_DATABASE: nowo_nodejs_assessment
      MYSQL_USER: <your_mysql_username>
      MYSQL_PASSWORD: <your_mysql_user_password>

    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
